<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>

    <ul>
    <li> First Name: <% @user.first_name %> </li>
    <li> Last Name: <% @user.last_name %> </li>
    <li> Email: <% @user.email %> </li>
    <li> State: <% @user.state %> </li>
    </ul>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>