<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('mailer.content.deletion.header', name: @institution.name) %></h1>

    <p><%= I18n.t('mailer.content.deletion.body') %></p>

    <p><%= I18n.t('mailer.content.deletion.footer') %></p>
  </body>
</html>